<h2>Welcome</h2>
<p>
    Welcome to this website, AdvLabDB, where you will be able to manage your lab assistance. Please, <strong>read this documentation</strong> to familiarize yourself with this website.
</p>

<h2>Menu items</h2>
<p>In this section, you will find explanations to each menu item on the upper navigation bar.</p>

<h3>Home</h3>
<p>
    This is your home page. Here, you find the number of <strong>missing</strong> final experiment marks for the experiments that you are assigned to. At the latest at the end of the semester, this number should be 0. A number higher than 0 means that some oral and/or protocol marks are missing. The final experiment mark is calculated automatically after the oral and protocol marks of an experiment are set.
</p>

<h3>Group Experiment</h3>
<p>
    This is the most important menu item. Here, you see all pairs of experiments and groups that you are responsible for. If a value in the column <em>Experiment Marks Missing</em> is <span style="color: red">Yes</span>, then you did not set all the experiment marks for the pair in the related row. If you click on the edit button on the left side of a row, then you will get a form.
</p>
<p>
    In the form, you can edit the <em>date</em> of an appointment by clicking on it. You should do so after writing with the students doing the experiment corresponding to the appointment. The initial date you find before editing it is only a suggestion in the week where the appointment should take place. Please take take into account if the appointment should be in the semester break.
</p>
<p>
    Below the appointments in the form, you can set the students' oral and protocol marks. Students in a group have separate marks. The oral mark has to be set after the oral exam. The protocol mark has to be set after correcting the group's protocol.
</p>
<div class="alert alert-warning" role="alert">Oral and protocol marks are between 0 and 15!</div>
<p>
    After editing appointment date(s) or experiment marks, click on <em>Save</em> to save the changes.
</p>
<p>
    The changes are lost if you don't click on <em>Save</em>. Therefore, if you want to discard the changes, just click on the back button of your browser.
</p>

<h3>Docs</h3>
<p>This is a link which leads you to this page.</p>

<h3>User settings</h3>
<p>
    In the user settings, You can change your active semester, user information and password. Don't forget to click on <em>Save</em> after changing any option.
</p>

<h4>Active semester</h4>
<p>
    An active semester is the semester you are working in. All shown experiment marks and appointments are in your active semester. By default as a new assistant, your active semester should be the latest semester.
</p>
<p>
    If you see a warning that you are in an old semester, then you should change your active semester in the user settings. You should only work in an old semester if there are still experiment marks to be set in the old semester.
</p>

<h4>User information</h4>
<p>
    Make sure that the fields <em>Phone Number</em>, <em>Mobile Phone Number</em>, <em>Building</em> and <em>Room</em> are filled and up to date, especially if you are a new assistant.
</p>

<h4>
    Password
</h4>
<p>
    You can generate a new random password by checking the corresponding checkbox and then clicking on <em>Save</em>. You will be then logged out. Your new password is displayed above the login fields. Make sure that you save the password in a safe place. Using a free open source password manager like <a href="https://bitwarden.com/" target="_blank" rel="noopener">Bitwarden</a> or <a href="https://keepassxc.org/" target="_blank" rel="noopener">KeepassXC</a> is recommended.
</p>
<p>
    If you forget your password, you have to write an admin to reset it.
</p>
