{% extends "admin_base.jinja.html" %}

{% block content %}
    <h2>Assistant's marks analysis</h2>

    <p>
        The histograms on this page (except the last two histograms) show the oral and protocol marks of each active assistant <em>individually</em>.
    </p>
    <p>
        The last two histograms show the oral and protocol marks of all active assistants <em>together</em>.
    </p>
    <p>
        An active assistant is an assistant with an active user. The marks are from all semesters, not only from the active semester.
    </p>

    <h4>Export</h4>
    <p>
        You can export this analysis by printing this page to a PDF file. The shortcut for printing the page is normally <code>Ctrl + p</code>. Select "Save as (PDF) file" afterwards instead of a printer!
    </p>

    <br>
    <hr>

    {% for hist_ind in hist_indices %}
        <div class="row text-center">
            <div class="col-sm">
                <img class="img-fluid" src="data:image/png;base64,{{ oral_mark_hists[hist_ind] }}">
            </div>
            <div class="col-sm">
                <img class="img-fluid" src="data:image/png;base64,{{ protocol_mark_hists[hist_ind] }}">
            </div>
        </div>

        <hr>
    {% endfor %}
{% endblock %}
