{% extends "admin_base.jinja.html" %}

{% block content %}
    <h2>Final part marks analysis</h2>

    <p>
        The histograms on this page show the final experiment marks of each part in the active semester.
    </p>
    <p>
        The plot at the end of the page shows the course of the mean value of the final experiment marks in all parts of each semester over all semesters.
    </p>

    <h4>Export</h4>
    <p>
        You can export this analysis by printing this page to a PDF file. The shortcut for printing the page is normally <code>Ctrl + p</code>. Select "Save as (PDF) file" afterwards instead of a printer!
    </p>

    <br>
    <hr>

    <div class="text-center">
        {% for active_semester_final_part_marks_hist in active_semester_final_part_marks_hists %}
            <img class="img-fluid" src="data:image/png;base64,{{ active_semester_final_part_marks_hist }}">

            <hr>
        {% endfor %}

        <img class="img-fluid" src="data:image/png;base64,{{ mean_final_part_mark_plot }}">
    </div>

    <br>
{% endblock %}
