{% extends "admin_base.jinja.html" %}

{% block content %}
    <form method="POST">
        {% for field in form %}
            {% if field.widget.input_type == "checkbox" %}
                <div class="form-check">
                    {{ field(class="form-check-input") }}

                    <label class="form-check-label" for="{{ field.id }}">
                        {{ field.label }}
                    </label>
                </div>
            {% else %}
                {{ field() }}
            {% endif %}
        {% endfor %}
    </form>
{% endblock %}
