{% extends "admin_base.jinja.html" %}

{% block content %}
    <div class="d-inline-flex">
        <div class="table">
            <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">
                            Assistant
                        </th>
                        <th scope="col">
                            Missing experiment marks
                        </th>
                    </tr>
                </thead>

                <tbody>
                    {% for assistant_num_missing in assistants_num_missing %}
                        <tr>
                            <td>
                                {{ assistant_num_missing[0] }}
                            </td>
                            <td>
                                {{ assistant_num_missing[1] }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
