{% extends "assistant_base.jinja.html" %}

{% block content %}
    <div class="d-inline-flex">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th scope="row">
                        Group number
                    </th>
                    <td>
                        {{ group_number }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <br>

    <div class="d-inline-flex">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th scope="row">
                        Experiment
                    </th>
                    <td>
                        {{ semester_experiment.experiment.str() }}
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        Oral mark weighting
                    </th>
                    <td>
                        {{ semester_experiment.oral_weighting }}
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        Protocol mark weighting
                    </th>
                    <td>
                        {{ semester_experiment.protocol_weighting }}
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        Final experiment mark weighting
                    </th>
                    <td>
                        {{ semester_experiment.final_weighting }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <br>

    <form method="POST">
        {{ form.csrf_token }}
        <div class="d-inline-flex">
            <table class="table table-striped table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">
                            Appointment date
                        </th>
                        <th scope="col">
                            Should be in break
                        </th>
                    </tr>
                </thead>

                <tbody>
                    {% for appointment_field in appointment_fields %}
                        <tr>
                            <td>
                                {{ appointment_field(class="form-control") }}
                            </td>
                            <td>
                                {{ appointment_field.description }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <br>

        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">
                            Student
                        </th>
                        <th scope="col">
                            Oral mark
                        </th>
                        <th scope="col">
                            Protocol mark
                        </th>
                        <th scope="col">
                            Final experiment mark¹
                        </th>
                        <th scope="col">
                            University email
                        </th>
                        <th scope="col">
                            Contact email²
                        </th>
                    </tr>
                </thead>

                <tbody>
                    {% for student, oral_experiment_mark, protocol_experiment_mark, final_experiment_mark in experiment_mark_zip %}
                        <tr>
                            <th scope="row">
                                {{ student }}
                            </th>
                            <td>
                                {{ oral_experiment_mark(class="form-control", style="width: auto;") }}
                            </td>
                            <td>
                                {{ protocol_experiment_mark(class="form-control", style="width: auto;") }}
                            </td>
                            <td>
                                {% if final_experiment_mark is none %}
                                    <span style='color: red;'><strong>None</strong></span>
                                {% else %}
                                    {{ final_experiment_mark }}
                                {% endif %}
                            </td>
                            <td>
                                <a href="mailto:{{ student.uni_email }}">{{ student.uni_email }}</a>
                            </td>
                            <td>
                                {% if student.contact_email is not none %}
                                    <a href="mailto:{{ student.contact_email }}">{{ student.contact_email }}</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <br>

        <div class="form-group form-row">
            <label for={{ form.note.id }} class="col-form-label">{{ form.note.label }}³</label>
            <div class="col">
                {{ form.note(class="form-control") }}
            </div>
        </div>

        <br>

        {{ form.submit(class="btn btn-primary btn-block") }}
    </form>

    <hr>

    <font size="2">
        <p>1. The <em>final experiment mark</em> is calculated automatically with the oral and protocol marks and experiment specific weightings.</p>
        <p>2. The <em>contact email</em> is the preferred email address for contact if entered by the student.</p>
        <p>3. The <em>note</em> is optional and can be seen and edited by admins and assistants that are responsible for this experiment in this semester.
            It is for information related to the experiment and group.
            Examples: Protocol received, submission until ..., etc.</p>
    </font>
{% endblock %}
