{% extends "assistant_base.jinja.html" %}

{% block content %}
    <p>
        Number of <strong>missing</strong> final experiment marks: {{ number_of_missing_final_experiment_marks }}
    </p>
{% endblock %}
