{% macro information(current_user, active_semester_str, role) %}
    <div class="row" style="text-align: center;">
        <div class="col">
            User: {{ current_user }}
        </div>

        <div class="col">
            Active semester: {{ active_semester_str() }}
            <span class="fa fa-question-circle" title="The active semester can be changed in user settings"></span>
        </div>

        {% if (role == "admin") and (current_user.has_role("assistant")) %}
            <div class="col">
                <a
                    href="{{ url_for('main.index') }}assistant"
                >Assistant space</a>
            </div>
        {% elif (role == "assistant") and (current_user.has_role("admin")) %}
            <div class="col">
                <a
                    href="{{ url_for('main.index') }}admin"
                >Admin space</a>
            </div>
        {% endif %}
    </div>
{% endmacro %}

{% macro render_footer(footer) %}
    <footer class='container text-center'>
        <hr>
        <p style='font-size:14px;'>
            {{ footer|safe }}
        </p>
        <br>
    </footer>
{% endmacro %}
